{% extends "layout.html.twig" %}
{% block title %}
	Véhicule choisi
{% endblock %}
{% block content %}
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{vehicule.titre}}</h5>
			<h6>{{vehicule.marque}}</h6>
			<h6>{{vehicule.model}}</h6>
			<p>Date d'enregistrement:
				{{vehicule.dateEnregistrement|date("d/m/y")}}</p>
			<p class="card-text">{{vehicule.description}}</p>
			<img class="card-img-top" src=" {{asset('photosVehicules/' ~ vehicule.photo)}} " alt=" {{vehicule.photo}} " alt="Card image cap">
			<a href="{{path("admin_app_allVehicules")}}" class="btn btn-primary">Retour</a>
		</div>
	</div>
{% endblock %}
